<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PayRoll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/cyborg.bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

        <!-- Page Content  -->
        <div id="content">

                <div class="container-fluid">

                    <header>
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
                            
                            <div class="container container-head">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/yunnan logo.jpg" alt="logo" style="height:50px; width:60px" />
                                </a>
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                    <partial name="_LoginPartial" />
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Employee
                                            </div>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" asp-controller="Employee" asp-action="Create">New Employee</a>
                                                <a class="dropdown-item" asp-controller="Employee" asp-action="Index">All Employees</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Pay Roll
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" asp-controller="Pay" asp-action="Create">New Payment</a>
                                                <a class="dropdown-item" asp-controller="Pay" asp-action="Index">Payments Record</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>

                    <footer class="border-top footer bg-primary text-muted">
                        <div class="container">
                            &copy; 2020 - PayRoll @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                        </div>
                    </footer>
                </div>
        </div>
        
        <div class="overlay"></div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/4743b10c88.js" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
